{% extends "_base.html" %}
{% block title %}Adlam{% endblock %}

{% block content_name %}
<b>Adlam</b>
{% endblock %}
{% block content %}
  {% for font_class in css_font_classes or css_font_classes_before or css_font_classes_after %}
      <div class="box">
	<div class="box-title">{{ font_class.selector }} {{ pt_size }}pt</div>
	    <span class="{{ font_class.selector }}" style="font-size: {{ pt_size }}pt">
            <h2>Sample Text:</h2>
            <p>
                - . , &#34; — – &#39; ; &amp; : / ( ‘‘ ) 𞤱𞤮𞤲𞤣𞤫 𞤸𞤫𞤬𞤼𞤭𞤲𞤺𞤮𞤤 𞤸𞤮𞤪𞤥𞤢 𞤳𞤢𞤤𞤢 𞤲𞤫𞤯𞥆𞤮 𞤩𞤫𞤧𞤲𞤺𞤮 𞤶𞤮𞤶𞥆𞤢𞤲𞤯𞤫 𞤬𞤮𞤼𞤵𞤯𞤫 𞤲’𞤣𞤢𞤯𞥆𞤵𞤣𞤭 𞤲&#39;𞤣𞤭𞤥𞤢𞥄𞤺𞤵 𞤨𞤮𞤼𞤢𞤤 𞤲’𞤣𞤵𞤲⹁𞤚𞤵𞥅𞤺𞤢𞥄𞤣𞤫 𞤳𞤢𞤻𞤵𞤲 𞤥𞤢𞤧𞤭𞥅𞤦𞤮𞥅𞤶𞤭 𞤸𞤵𞤷𞥆𞤢𞤲𞤣𞤫 𞤴𞤢𞤥𞤭𞤪𞤮𞥅𞤪𞤫 𞤯𞤵𞤲𞤉 𞤂𞤫𞤴𞤯𞤫𞥅𞤤𞤫 𞤸𞤮𞤤𞥆𞤭𞤼𞤭:𞤐&#39;𞤺𞤢𞤤-𞤯𞤮𞥅 𞤰𞤫𞤼𞥆𞤢𞥄𞤥𞤢𞤐&#39;𞤦𞤫𞤤𞤫 𞤬𞤮𞤬.𞤋𞤲𞥆𞤢𞤥𞤢 𞤭𞤴𞤲𞤺𞤵𞤴𞤵𞤥𞥆𞤢𞥄𞤺𞤵.𞤘𞤮𞥅𞤼𞤮 𞤥𞤵𞤥.𞤖𞤢𞤴 𞤻𞤢𞥄𞤱𞤢𞥄𞤯𞤭.𞤒𞤭𞤥𞤩𞤫 𞤻𞤢𞥄𞤱𞤮𞤪𞤫.𞤑𞤢𞤤𞤢 𞤯𞤫𞥅.𞤌𞥅 𞤣𞤭.𞤕𞤢𞤺𞥆𞤢𞤤 𞤣𞤫𞤱𞤦𞤮).𞤁𞤫𞤱𞤺𞤢𞤤 𞤳𞤢𞤦𞤢𞤾𞤵𞥅𞤶𞤭 𞤨𞤮𞤼𞤢𞤤.𞤃𞤵𞥅𞤴𞤢𞥄𞤲𞤣𞤫 𞤦𞤫𞤤𞥆𞤢𞤲𞤼𞤫𞥅𞤶𞤫.𞤔𞤭𞤦𞤭𞤲𞤢𞥄𞤯𞤮 𞤅𞤵𞤳𞤢𞥄𞤩𞤫 
            </p>
        </span>
       </div>
    {% endfor %}
{% endblock %}
