{% extends "_base.html" %}
{% block title %}Armenian{% endblock %}

{% block content_name %}
<b>Armenian</b>
{% endblock %}
{% block content %}
  {% for font_class in css_font_classes or css_font_classes_before or css_font_classes_after %}
      <div class="box">
	<div class="box-title">{{ font_class.selector }} {{ pt_size }}pt</div>
	    <span class="{{ font_class.selector }}" style="font-size: {{ pt_size }}pt">
            <h3>Character set</h3>
            <p>
                ա բ գ դ ե զ է ը թ ժ ի լ խ ծ կ հ ձ ղ ճ մ յ ն շ ո չ պ ջ ռ ս վ տ ր ց ւ փ ք օ ֆ
                և Ա Բ Գ Դ Ե Զ Է Ը Թ Ժ Ի Լ Խ Ծ Կ Հ Ձ Ղ Ճ Մ Յ Ն Շ Ո Չ Պ Ջ Ռ Ս Վ Տ Ր Ց Ւ Փ Ք Օ Ֆ
            </p>
            <h3>Eastern Armenian Sample Text:</h3>
            <p>
                Ոչ ոք չի կարող ենթարկվել կամայական միջամտության իր անձնական ու ընտանեկան կյանքի նկատմամբ, իր տան, թղթակցության և կամ իր պատվի ու համբավի դեմ կամայական ոտնձգության։ Ամեն ոք ունի օրենքով պաշտպանվելու իրավունք ընդդեմ նման միջամտության կամ ոտնձգության։ Յուրաքանչյուր ոք ունի մտքի, խղճի ու դավանանքի ազատության իրավունք․ այս իրավունքը ներառնում է իր դավանանքը կամ համոզմունքները փոխելու ազատություն և իր դավանանքին կամհամոզմունքներին հետևելու ազատություն, մենակ կամ ուրիշների հետ համատեղ, հրապարակայնորեն կամ գաղտնի՝ քարոզի, ժամերգության, կրոնական ու ծիսական արարողությունների ձևով։
            </p>
            <h3>Western Armenian Sample Text:</h3>
            <p>
                Բոլոր մարդիկ կը ծնուին ազատ եւ հաւասար իրենց արժանապատուութեամբ եւ իրաւունքներով: Իրենք օժտուած են բանականութեամբ ու խիղճով, եւ պարտաւորուած են միմեանց հանդէպ եղբայրութեան ոգիով վարուիլ:
            </p>
        </span>
       </div>
    {% endfor %}
{% endblock %}
