{% extends "_base.html" %}
{% block title %}Vietnamese{% endblock %}

{% block content_name %}
<b>Vietnamese preview</b>
{% endblock %}
{% block content %}
  {% for font_class in css_font_classes or css_font_classes_before or css_font_classes_after %}
      <div class="box">
        <div class="box-title">{{ font_class.selector }} {{ pt_size }}pt</div>
            <span class="{{ font_class.selector }}" style="font-size: {{ pt_size }}pt">
                <h2>Character set</h2>
                <p>
                    ̇  ̣ । ॥ ം ഃ അ ആ ഇ ഈ ഉ ഊ ഋ ഌ എ ഏ ഐ ഒ ഓ ഔ ക ഖ ഗ ഘ ങ ച ഛ ജ ഝ ഞ ട ഠ ഡ ഢ ണ ത ഥ ദ ധ ന ഩ പ ഫ ബ ഭ മ യ ര റ ല ള ഴ വ ശ ഷ സ ഹ ഺ ഽ ാ ി ീ ു ൂ ൃ ൄ െ േ ൈ ൊ ോ ൌ ് ൎ  ൗ ൠ ൡ ൢ ൣ ൦ ൧ ൨ ൩ ൪ ൫ ൬ ൭ ൮ ൯ ൰ ൱ ൲ ൳ ൴ ൵ ൹ ൺ ൻ ർ ൽ ൾ ൿ    ₹ ◌
                </p>
                <h2>Sample Text:</h2>
                <p>
                    എല്ലാ മനുഷ്യരും സ്വതന്ത്രമായും അന്തസ്സിലും അവകാശങ്ങളിലും തുല്യരായി ജനിക്കുന്നു. അവർ യുക്തിയും മന ci സാക്ഷിയും ഉള്ളവരാണ്, അവർ പരസ്പരം സാഹോദര്യത്തിന്റെ മനോഭാവത്തിൽ പ്രവർത്തിക്കണം. വംശം, നിറം, ലിംഗം, ഭാഷ, മതം, രാഷ്ട്രീയ അല്ലെങ്കിൽ മറ്റ് അഭിപ്രായം, ദേശീയ അല്ലെങ്കിൽ സാമൂഹിക ഉത്ഭവം, സ്വത്ത്, ജനനം അല്ലെങ്കിൽ മറ്റ് പദവി എന്നിങ്ങനെയുള്ള വ്യത്യാസങ്ങളില്ലാതെ ഈ പ്രഖ്യാപനത്തിൽ പറഞ്ഞിട്ടുള്ള എല്ലാ അവകാശങ്ങൾക്കും സ്വാതന്ത്ര്യങ്ങൾക്കും എല്ലാവർക്കും അർഹതയുണ്ട്. കൂടാതെ, ഒരു വ്യക്തി ഉൾപ്പെടുന്ന രാജ്യത്തിന്റെയോ പ്രദേശത്തിന്റെയോ രാഷ്ട്രീയ, അധികാരപരിധി അല്ലെങ്കിൽ അന്തർദേശീയ നിലയുടെ അടിസ്ഥാനത്തിൽ, സ്വതന്ത്രമോ, വിശ്വാസമോ, സ്വയംഭരണമോ അല്ലെങ്കിൽ പരമാധികാരത്തിന്റെ മറ്റേതെങ്കിലും പരിമിതിയിലോ വ്യത്യാസമില്ല. വ്യക്തിയുടെ ജീവിതത്തിനും സ്വാതന്ത്ര്യത്തിനും സുരക്ഷയ്ക്കും എല്ലാവർക്കും അവകാശമുണ്ട്. അടിമത്തത്തിലോ അടിമത്തത്തിലോ ആരും പിടിക്കപ്പെടുകയില്ല; അടിമത്തത്തെയും അടിമക്കച്ചവടത്തെയും അവരുടെ എല്ലാ രൂപത്തിലും നിരോധിക്കും.    
                </p>
            </span>
       </div>
    {% endfor %}
{% endblock %}
