{% extends "_base.html" %}
{% block title %}Sinhala{% endblock %}

{% block content_name %}
<b>Sinhala preview</b>
{% endblock %}
{% block content %}
  {% for font_class in css_font_classes or css_font_classes_before or css_font_classes_after %}
      <div class="box">
	<div class="box-title">{{ font_class.selector }} {{ pt_size }}pt</div>
	    <span class="{{ font_class.selector }}" style="font-size: {{ pt_size }}pt">
            <h3>Character set</h3>
            <p>
                අ ආ ඇ ඈ ඉ ඊ උ ඌ ඍ එ ඒ ඓ ඔ ඕ ඖ ං ඃ ක ඛ ග ඝ ඞ ඟ ච ඡ ජ ඣ ඥ ඤ ට ඨ ඩ ඪ ණ ඬ ත ථ ද ධ න ඳ ප ඵ බ භ ම ඹ ය ර ල ව ශ ෂ ස හ ළ ෆ ා ැ ෑ ි ී ු ූ ෘ ෲ ෟ ෙ ේ ෛ ො ෝ ෞ ් ඎ ඏ ඐ ඦ ෳ
            </p>
            <h2>Sample Text:</h2>
            <p>
                දෙසැම්බර් වෙනි එක්සත් ජාතීන්ගේ මහා මණ්ඩලයෙන් කරනු ප්‍රකාශයට කළ අයිතිවාසිකම් පිළිබඳ ඓතිහාසික සිද්ධියෙන් අඩංගු ප්‍රචාරයට “ඒ නොකර ආයතනයන් මඟින් පාඨනය මෙන්ද” ඉල්ලා ලද්දේය.ලෝකයේ වූ අවඥාවට ප්‍රතිඵලයක් හෘදය සාක්ෂිය භාජනය ම්ලේච්ඡ කෲරකම් ඇති ඇරඹීම ස්ථිර සෑම උපත ඔවුන්, පෞද්ගලික දඬුවමකට ඕනෑම උල්ලංඝනය ඊට සෞඛ්‍ය. සෑම අවස්ථාවකදී ම නීතිය ඉදිරියේ පුද්ගලයකු වශයෙන් පිළිගනු ලැබීමේ අයිතිය සෑම කෙනෙකුම සතුය. සියල්ලන්ම නීතිය ඉදිරියෙහි එකිනෙකාට සමාන වන අතර, නීතීයේ ආරක්ෂාව ලැබීමට කිසිදු විශේෂයක් නොමැතිව, සියල්ලෝම හිමිකම් ලබති, මේ ප්‍රකාශනයට පටහැනි ලෙස කෙරෙන ඕනෑම අසාධාරණයකින් ආරක්ෂා වීමේ අයිතියත් එබඳු අසාධාරණයන්ට පෙළඹවීමෙන් ආරක්ෂාවීමේ අයිතියත් සියල්ලන්ටම හිමි වේ.
            </p>
        </span>
       </div>
    {% endfor %}
{% endblock %}
