{% extends "_base.html" %}
{% block title %}Vietnamese{% endblock %}

{% block content_name %}
<b>Vietnamese preview</b>
{% endblock %}
{% block content %}
  {% for font_class in css_font_classes or css_font_classes_before or css_font_classes_after %}
      <div class="box">
	<div class="box-title">{{ font_class.selector }} {{ pt_size }}pt</div>
	    <span class="{{ font_class.selector }}" style="font-size: {{ pt_size }}pt">
            <h2>Alphabet</h2>
            <p>
                Aa Ăă Ââ Bb Cc Dd Đđ Ee Êê Gg Hh Ii Kk Ll Mm Nn Oo Ôô Ơơ Pp Qq Rr Ss Tt Uu Ưư Vv Xx Yy
            </p>
            <h2>Letters with Diacritics</h2>
            <p>
                Á á À à Ả ả Ã ã Ạ ạ Ă ă Ắ ắ Ằ ằ Ẳ ẳ Ẵ ẵ Ặ ặ Â â Ấ ấ Ầ ầ Ẩ ẩ Ẫ ẫ Ậ ậ Đ đ É é È è Ẻ ẻ Ẽ ẽ Ẹ ẹ Ê ê Ế ế Ề ề Ể ể Ễ ễ Ệ ệ Í í Ì ì Ỉ ỉ Ĩ ĩ Ị ị Ó ó Ò ò Ỏ ỏ Õ õ Ọ ọ Ô ô Ố ố Ồ ồ Ổ ổ Ỗ ỗ Ộ ộ Ơ ơ Ớ ớ Ờ ờ Ở ở Ỡ ỡ Ợ ợ Ú ú Ù ù Ủ ủ Ũ ũ Ụ ụ Ư ư Ứ ứ Ừ ừ Ử ử Ữ ữ Ự ự Ý ý Ỳ ỳ Ỷ ỷ Ỹ ỹ Ỵ ỵ
            </p>
        </span>
       </div>
    {% endfor %}
{% endblock %}
